asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
coreapi==2.3.3
coreschema==0.0.4
defusedxml==0.6.0
Django==3.0.3
django-ckeditor==5.9.0
django-cors-headers==3.2.1
django-crispy-forms==1.8.1
django-filter==2.2.0
django-guardian==2.2.0
django-js-asset==1.2.2
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
djangorestframework-xml==1.4.0
djangorestframework-yaml==1.0.3
drf-yasg==1.17.0
Flask==1.1.1
httpie==2.0.0
idna==2.8
inflection==0.3.1
itsdangerous==1.1.0
itypes==1.1.0
Jinja2==2.11.1
lxml==4.5.0
Markdown==3.2
MarkupSafe==1.1.1
numpy==1.18.1
packaging==20.1
pandas==0.25.3
Pillow==9.0.0
prettytable==0.7.2
pyecharts==1.6.2
Pygments==2.5.2
PyJWT==1.7.1
pyparsing==2.4.6
python-dateutil==2.8.1
python-pptx==0.6.18
pytz==2019.3
PyYAML==5.3
requests==2.22.0
ruamel.yaml==0.16.7
simplejson==3.17.0
six==1.13.0
snapshot-phantomjs==0.0.3
sqlparse==0.3.0
style==1.1.0
update==0.0.1
uritemplate==3.0.1
urllib3==1.25.8
Werkzeug==1.0.0
xlrd==1.2.0
XlsxWriter==1.2.7
